.card {
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 15px;
  border-radius: 2px;
  border: 1px solid #ddd;
}

.cardTitle {
  padding: 15px;
  margin-top: -15px;
  margin-left: -15px;
  margin-right: -15px;
  margin-bottom: 15px;
  border-bottom: 1px solid #ddd;
}
