.header {
  display: flex;
  justify-content: space-between;
  position: fixed;
  background-color: #000;
  border-bottom: 1px solid #ffe300;
  left: 0;
  right: 0;
  top: 0;
  padding: 20px;
}

.branding {
  font-size: 24px;
  text-align: center;
}

.navbar {
  text-align: right;

  a {
    padding: 10px 20px;
  }
}
